
form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
  }
  
  h2 {
    font-size: 28px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.6); 
    padding: 12px 25px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}
  
  label {
    font-size: 18px; 
    font-weight: 500; 
    color: black; 
    padding: 12px;
    border-left: 5px solid #FFD700; 
    background: rgba(255, 255, 255, 0.15); 
    border-radius: 6px; 
    text-align: left; 
    width: fit-content;
    display: inline-block;
    margin: 10px auto; 
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s ease-in-out;
  }
  
  
  .input-group-wrapper {
    display: flex;
    justify-content: center; 
    gap: 20px; 
  }
  
  .input-group input,
  .input-group select {
    width: 220px; 
    padding: 12px;
    border: 2px solid #333;
    border-radius: 6px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    outline: none;
  }
  

  select option[value=""] {
    color: gray;
  }
  
  select:invalid {
    color: gray; 
  }
  

  button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, #ff8c00, #ff4b2b);
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    width: fit-content; 
    align-self: center; 
  }
  .error-msg{
    color: red;
    margin-top: 5px;
  }
  