
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #3b5998, #192f6a); 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.6); 
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}


.form-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 15px; 
    flex-wrap: wrap; 
}

label {
    font-size: 18px; 
    font-weight: 500; 
    color: black; 
    padding: 12px;
    border-left: 5px solid #FFD700; 
    background: rgba(255, 255, 255, 0.15); 
    border-radius: 6px; 
    text-align: center; 
    width: fit-content;
    display: inline-block;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s ease-in-out;
}

input {
    width: 150px;
    padding: 12px;
    border: 3px solid #222; 
    border-radius: 6px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.3); 
    color: black;
    outline: none;
    text-align: center;
}


input::placeholder {
    color: black; 
    opacity: 0.7;
}


.button-container {
    display: flex;
    justify-content: center; 
    margin-top: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, #ff8c00, #ff4b2b);
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    width: fit-content; 
}

button:hover {
    background: linear-gradient(90deg, #ff4b2b, #c0392b);
}

button:active {
    transform: scale(0.95);
}


.file-details {
    background: white; 
    padding: 30px; 
    border-radius: 10px;
    width: 100vw; 
    height: 100vh; 
    text-align: left;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: left; 
    justify-content: left; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.file-details p {
    font-size: 18px;
    font-weight:normal;
    color: black; 
    padding: 10px;
    border-left: 5px solid; 
    border-radius: 6px;
    display: block;
    margin: 8px 0;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.6); 
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}
